<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--===============================================================================================-->
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <p></p>
    <form action="/logout" method="POST">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </nav>

  <br>

  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center">Carros em que está a trabalhar</p>
      </div>

      <div class="col">
        <p class="text-center">Carros em espera</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col">
        <div class="card card-body">

          <p>Veículo 1
            <button type="button" class="btn btn-outline-secondary">Sair da Viatura</button>
            <button type="button" class="btn btn-outline-success">Terminar Veículo</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
              aria-expanded="false" aria-controls="multiCollapseExample2">View</button>
          </p>

          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <div>
                <p>Tarefa 1
                  <button type="button" class="btn btn-light">✔️</button>
                </p>
                <p>Tarefa 2</p>
                <p>Tarefa 3</p>
              </div>
              <button class="btn btn-dark" style="width:10%"><i class="fa fa-plus"></i></button>
            </div>
            <br>
            <div><button type="button" class="btn btn-dark">Imprimir</button></div>

            <p></p>
          </div>

          <p>Veículo 2
            <button type="button" class="btn btn-outline-secondary">Sair da Viatura</button>
            <button type="button" class="btn btn-outline-success">Terminar Veículo</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
              aria-expanded="false" aria-controls="multiCollapseExample2">View</button>
          </p>

          <p>Veículo 3
            <button type="button" class="btn btn-outline-secondary">Sair da Viatura</button>
            <button type="button" class="btn btn-outline-success">Terminar Veículo</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
              aria-expanded="false" aria-controls="multiCollapseExample2">View</button>
          </p>

        </div>
      </div>

      <div class="col">
        <div id="carrosEsperaColuna" class="card card-body">

          <p hidden>Veículo 1
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample6"
              aria-expanded="false" aria-controls="multiCollapseExample6">View</button>
          </p>

          <div class="collapse multi-collapse" id="multiCollapseExample6">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
              keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <p id="matriculasEspera" hidden>{{matriculasEspera}}</p>
  <p id="matriculasTrabalho" hidden>{{matriculasTrabalho}}</p>
  <p id="usernameUtilizador" hidden>{{username}}</p>

</body>

<script>
  let matriculasString = document.getElementById("matriculasEspera").innerHTML
  var arrayMatriculasEspera = matriculasString.split(',')
  var carrosEspera = document.getElementById("carrosEsperaColuna")

  let btns = []

  var nomeUser = document.getElementById("usernameUtilizador").innerText

  let jsonData;

  fetch('http://localhost:3000/getTarefas/' + nomeUser + '.json').then(
    async (result) => {
      // console.log(result);
      jsonData = await result.json();
      // console.log(jsonData[0][0].descricao)
      // jsonData.forEach(el => { console.log(el) })

      for (i = 0; i < arrayMatriculasEspera.length; i++) {
        var linha = document.createElement('p')
        linha.setAttribute('id', 'veiculo' + [i + 1])
        linha.innerHTML = arrayMatriculasEspera[i]

        temp = document.createElement('button')
        temp.setAttribute("id", "botaoEspera" + [i + 1])
        temp.setAttribute("class", "btn btn-primary")
        temp.setAttribute("data-toggle", "collapse")
        temp.setAttribute("aria-expanded", "false")
        temp.setAttribute("data-target", "#detalhesEspera" + [i + 1])
        temp.setAttribute("aria-controls", "detalhesEspera" + [i + 1])
        temp.innerHTML = "View"

        linha.appendChild(temp)

        carrosEspera.appendChild(linha)

        firstDiv = document.createElement('div')
        firstDiv.setAttribute("class", "collapse multi-collapse")
        firstDiv.setAttribute("id", "detalhesEspera" + [i + 1])

        secondDiv = document.createElement('div')
        secondDiv.setAttribute("class", "card card-body")
        secondDiv.setAttribute("id", "divEspera" + [i + 1])
        secondDiv.setAttribute("style", "white-space: pre-wrap;")

        firstDiv.appendChild(secondDiv)

        carrosEspera.appendChild(firstDiv)

        //carrosEspera.appendChild(document.createElement('br'))

        btns.push(temp)

      }

      for (i = 0; i < jsonData.length; i++) {
        var text = "";
        for (j = 0; j < jsonData[i].length; j++) {
          if (text != "") {
            text = text + "\n-" + jsonData[i][j].descricao
          }
          else {
            text = text + jsonData[i][j].descricao
          }
        }
        if (document.getElementById("divEspera" + [i + 1]).id === "divEspera" + [i + 1]) {
          document.getElementById("divEspera" + [i + 1]).innerHTML = "-" + text
        }
        text = ""
      }
    }
  );
</script>

</html>